<div id="root">
  <div id="upper">
    <button id="screen">
      <div>
        <div id="light"></div>
        <div id="text">こまります</div>
      </div>
    </button>
    <div id="descr">
      <p>お困りの方は<br />このボタンを<br /><span>押してください</span></p>
    </div>
  </div>
</div>
<script>
  import { atom } from "nanostores";
  import WavBackend from "./kmrms/WavBackend";

  const active$ = atom(false);
  const screen = document.querySelector("#screen")!;
  const player = new WavBackend();
  player.addEventListener("end", () => active$.set(false));

  active$.listen((active) => {
    screen.classList.toggle("active", active);
  });
  screen.addEventListener("click", () => {
    active$.set(true);
    player.play();
  });
</script>
<style lang="scss" is:global>
  @use "sass:color";
  @mixin half-height-fill {
    height: 50%;
  }
  #root {
    --yellow: #f9cb00;
    background-color: var(--yellow);
    border-radius: 12px;
    width: 215px;
    height: 418px;
    display: flex;
    position: relative;

    user-select: none;
    #upper {
      --padding: 15px;
      background-color: var(--yellow);
      border-radius: 12px;
      width: calc(100% - var(--padding) * 2);
      height: calc(100% - var(--padding) * 2);
      box-shadow: #7777 calc(-1 * var(--padding)) var(--padding) 4px;
      margin: 15px;
      display: flex;
      flex-direction: column;
    }

    $bg-red: #862826;
    $bg-red-active: adjust-color($bg-red, $lightness: 10%);
    #screen {
      @include half-height-fill;
      overflow: hidden;
      display: flex;
      background-color: $bg-red;
      padding: 4px;
      border: 0;
      transition: background-color 0.3s ease;
      &.active {
        background-color: $bg-red-active;
      }
      &:not(.active) div #light {
        filter: blur(26px) brightness(0);
      }
      div {
        flex: 1 0 0;
        height: 100%;
        position: relative;
        background-color: #27170d;

        #light {
          position: absolute;
          width: 50%;
          height: 50%;
          background-color: #f00;
          border-radius: 50%;
          filter: blur(26px)
            /**a weird value to workaround Firefox render issue */ brightness(2);
          transform: translate(50%, 50%);
          transition: filter 0.3s ease;
          mix-blend-mode: color-dodge;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #f00;
            border-radius: 50%;
            filter: blur(60px);
            transform: translate(-50%, -50%);
            top: 50%;
          }
        }
        #text {
          background-color: #fff0;
          flex: 1 0 0;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          color: #fff;
          mix-blend-mode: soft-light;
        }
      }
    }
    #descr {
      @include half-height-fill;
      margin-block: 16px;
      p {
        color: #27170d;
        font-size: 26px;
        font-weight: 600;
        line-height: 2;
        letter-spacing: -1px;
        text-align: center;
        white-space: pre;
        margin-block: unset;
        span {
          /* last line */
          letter-spacing: -2px;
        }
      }
    }
  }
</style>
