<div id="root">
  <div id="upper">
    <div id="screen" role="switch">
      <div>
        <div>
          <div id="light"></div>
        </div>
        <div id="text">こまります</div>
      </div>
    </div>
    <div id="descr">
      <p>お困りの方は<br />このボタンを<br /><span>押してください</span></p>
    </div>
  </div>
</div>
<script>
  import { atom } from "nanostores";
  import WavBackend from "./kmrms/WavBackend";
  import ButtonSE from "./ButtonSE";

  const active$ = atom(false);
  const screen = document.querySelector("#screen")!;
  const player = new WavBackend();
  const buttonSE = new ButtonSE();
  document
    .querySelector("#root")
    .addEventListener("touchend", (e) => e.preventDefault(), { capture: true });
  active$.listen((active) => {
    screen.classList.toggle("active", active);
  });
  screen.addEventListener("pointerdown", () => {
    active$.set(true);
    player.play();
  });
  screen.addEventListener("pointerup", () => {
    active$.set(false);
  });
  buttonSE.on(screen as HTMLElement);
</script>
<style lang="scss" is:global>
  /*   @use "sass:color";
 */
  #root {
    --border-radius: 18px;
    --yellow: #f9cb00;
    background-color: var(--yellow);
    border-radius: var(--border-radius);
    width: 218px;
    height: 400px;
    display: flex;
    position: relative;
    touch-action: none;
    #upper {
      --padding: 15px;
      background-color: var(--yellow);
      border-radius: var(--border-radius);
      width: calc(100% - var(--padding) * 2);
      height: calc(100% - var(--padding) * 2);
      margin: 15px;
      display: flex;
      flex-direction: column;
      outline: #7777 solid 2px;
    }

    $bg-red: #862826;
    /*     $bg-red-active: adjust-color($bg-red, $lightness: 10%);
 */
    #screen {
      height: 60%;
      border-radius: var(--border-radius);
      overflow: hidden;
      display: flex;
      background-color: $bg-red;
      padding: 4px;
      border: 0;
      outline: 0;
      transition: filter 0.1s ease;
      &.active {
        filter: brightness(1.4);
      }
      &:not(.active) #light {
        filter: blur(8px) brightness(0);
      }
      div {
        border-radius: var(--border-radius);
        flex: 1 0 0;
        height: 100%;
        position: relative;
        background-color: #27170d;
        transform: translateZ(1px);
        div {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          #light {
            --light: #f00;
            @supports (color: color(display-p3 1 0 0)) {
              --light: color(display-p3 1 0 0);
            }
            dynamic-range-limit: constrained-high;
            width: 25%;
            height: 25%;
            background-color: var(--light);
            border-radius: 50%;
            filter: blur(8px) brightness(2);
            transition: filter 0.1s ease;
            mix-blend-mode: color-dodge;
            &:before {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              background-color: var(--light);
              border-radius: 50%;
              filter: blur(26px) brightness(2);
            }
            &:after {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              background-color: var(--light);
              border-radius: 50%;
              filter: blur(40px) brightness(2);
            }
          }
        }
        #text {
          background-color: #910328;
          @supports (background-color: lch(1 0 0)) {
            background-color: lch(26.63 58.21 10.6);
          }
          flex: 1 0 0;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          color: #fffa;
          mix-blend-mode: overlay;
        }
      }
    }
    #descr {
      height: auto;
      margin-block: 16px;
      p {
        color: #27170d;
        font-size: 26px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: -1px;
        text-align: center;
        white-space: pre;
        margin-block: unset;
        span {
          /* last line */
          letter-spacing: -3px;
        }
      }
    }
  }
</style>
