<!doctype html>
<html lang="ja-jp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>困ります</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  :root {
    --bg: #1e293b; /* tailwind slate 800 */
    --text-normal: #e2e8f0; /* tailwind cool gray 100 */
  }
  @media (prefers-color-scheme: light) {
    :root {
      --bg: #f7fafc;
      --text-normal: #1a202c;
    }
  }
  html,
  body {
    background-color: var(--bg);
    color: var(--text-normal);
    overflow: hidden;
  }
</style>
