---
const description = "お困りの方はこのボタンを押してください";
const buttonText = "こまります";
const cssRequestText = Array.from(
  new Set([...description, ...buttonText]).values()
).join("");
---

<!doctype html>
<html lang="ja-jp">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no ,maximum-scale=1.0 ,viewport-fit=cover"
    />
    <meta name="description" content={description} />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="困ります">

    <title>困ります</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "M PLUS Rounded 1c";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./font.woff2) format("woff2");
  }
  :root {
    --bg: #131924;
  }
  @media (prefers-color-scheme: light) {
    :root {
      --bg: #f7fafc;
    }
  }
  html,
  body {
    background-color: var(--bg);
    overflow: hidden;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
  }
  button {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  * {
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: none;
  }

</style>
